<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /bbs
    RewriteCond %{REQUEST_FILENAME} !^/view/404\.php
    RewriteCond %{REQUEST_URI} !^/bbs/assets/
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>